@media screen and (max-width : 576px) {
    
/* nav responsive */
.nav-container{
    flex-direction: column;
}

.navigator > ul li{
    padding: 10px;
}


.banner-elements{
    width: 400px;
height: 900px;


}

form{
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.search-section{
    width: fit-content;
    padding-left: 0;
}

}